@charset "utf-8";

body {
  background-color: #F0F0F0;
}

.caluc {
  background-color: #FFFFFF;
  width: 20%;
  margin: 200px auto 0;
  padding: 7px;
  border-radius: 5px;
}

.top {
  background-color: black;
  font-size: 25px;
  color: white;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-radius: 5px;
  text-align: right;
}

.history{
  position: relative;
}

.history-one {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: .8rem;         
  line-height: 1;
  color: white;
  opacity: 0.8;
  max-width: calc(100% - 16px);
  white-space: nowrap;        
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;       /* 履歴はクリック不可 */
}

.history-two {
  position: absolute;
  top: 31px;
  left: 8px;
  font-size: .8rem;         
  line-height: 1;
  color: white;
  opacity: 0.8;
  max-width: calc(100% - 16px);
  white-space: nowrap;        
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;       /* 履歴はクリック不可 */
}

.history-operator {
  position: absolute;
  top: 12px;
  left: 6px;
  font-size: 1.3rem;         
  line-height: 1;
  color: white;
  opacity: 0.8;
  max-width: calc(100% - 16px);
  white-space: nowrap;        
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;       /* 履歴はクリック不可 */
}

.zero {
  padding: 0 10px 0 8px;
}

.body {
  width: 100%;
  margin-top: 7px;
}

.btn {
  font-size: 25px;
  background-color: #E0E0E0;
  border-style: none;
  border-radius: 3px;
  width: 23%;
  height: 50px;
  cursor: pointer;
}

.move {
  background-color: #F39C12;
  color: white;
}

.button {
  background-color: #2ECC71;
  color: white;
  width: 100%;
  height: 50px;
}

.one,
.two,
.three,
.four {
  text-align: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .caluc {
    width: 90%;
  }

  .top {
    /* font-size: 120%; */
    font-size: clamp(18px, 5vw, 25px);
  }

  .zero {
    padding: 0 8px 0 6px;
  }
}